@keyframes spin
{
    100%
    {
        transform:rotate(360deg);
    }
}

#__bs_notify__
{
    width:20%;
    height:20%;
}
*
{
    margin: 0;
    text-align: center;
}
body > *
{
    width: 100vw;
    height: 100vh;
}

header
{
    background-color: #1469FF;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
header .container
{
    position: relative;
}
header svg
{
    width: 540px;
    height: 540px;
    z-index: -1;
}
header nav
{
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 15%;
}
/* header svg rect
{
    animation:spin 1s linear infinite;
} */
h1
{
    font-size: 3rem;
}
h2
{
    font-size: 1rem;
}