@keyframes spin
{
    100%
    {
        transform:rotate(360deg);
    }
}

#__bs_notify__
{
    width:20%;
    height:20%;
}
*
{
    margin: 0;
    font-family: sans-serif;
    text-align: center;
}
body > *
{
    width: 100vw;
    height: 100vh;
}

header
{
    background-color: #1469FF;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
header .container
{
    position: relative;
}
header svg
{
    width: 540px;
    height: 540px;
    overflow: visible;
}
header nav
{
    z-index: 2;
    position: absolute;
    top: 40%;
    left: 12%;
}
header svg .clock
{
    animation:spin 5s linear;
    transform-origin: center;
    animation-direction: normal;
}
header svg .counterclock
{
    animation:spin 5s linear;
    transform-origin: center;
    animation-direction: reverse;
}
h1
{
    font-size: 3rem;
}
h2
{
    font-size: 1rem;
}